PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO="[EMAIL_ADDRESS]"
HOME=/
SHELL=/bin/bash

# Clean up old logs
0 0 * * * /root/crons/log-prune.sh

# Maldet - Run @ 4:15 a.m.
15 4 * * * /root/crons/maldet.sh

# RKHunter - Run @ 4:30 a.m.
30 4 * * * /root/crons/rkhunter.sh

# Tripwire - Run @ 4:45 a.m.
45 4 * * * /root/crons/tripwire.sh
